@charset "UTF-8";

.navbar {
	top: 0;
    left: 0;
    right: 0;
	position: fixed;
	z-index: 100;
}

.container {
	padding-top: 40px;
}

.nav-link {
	font-size: 20px;
}

@
gray-darker:               #444444 ; @gray-dark:                 #696969 
	 ; @gray:                      #999999 ; @gray-light:                #cccccc 
	 ; @gray-lighter:              #ececec ; @gray-lightest:             lighten( 
	 @gray-lighter, 4 %) ; *, *::before, *::after {
	box-sizing: border-box;
}

/* html {
  background-color: #f0f0f0;
} */
body {
	
	color: @gray;
	font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-style: normal;
	font-weight: 400;
	letter-spacing: 0;
	padding: 1rem;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-moz-font-feature-settings: "liga" on;
}

/* img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
} */
.btn {
	background-color: dark-blue;
	border: 1px solid@gray-light; //
	border-radius: 1rem;
	color: @gray-dark;
	padding: 0.5rem;
	text-transform: lowercase;
}

.btn--block {
	display: block;
	width: 100%;
}

.cards {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin: 0;
	padding: 0;
}

.cards__item {
	display: flex;
	padding: 1rem;
	@media
	(
	min-width
	:
	40rem)
{
	width:50%;
}

@media ( min-width : 56rem) {
	width:33.3333%;
}

}
.card {
	background-color: white;
	border-radius: 0.25rem;
	box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
	display: flex;
	flex-direction: column;
	overflow: hidden;
	&:
	hover
	{
	.card__image
	{
	filter
	:
	contrast(
	100%
	);
}

}
}
.card__content {
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;
	padding: 1rem;
	text-align: center;
}

.card__image {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	border-top-left-radius: 0.25rem;
	border-top-right-radius: 0.25rem;
	filter: contrast(100%); //
	filter: saturate(180%);
	overflow: hidden;
	position: relative;
	transition: filter 0.5s cubic-bezier(.43, .41, .22, .91);; &:: before {
	content : "";
	display: block;
	padding-top: 56.25%;
	//
	16:9
	aspect
	ratio
}

@media ( min-width : 40rem) { &
	::before {
		padding-top: 66.6%;
		//
		3:2
		aspect
		ratio
	}
}

}
.card__image--wannado {
	background-image: url("../images/coffee2.png");
}

.card__image--flowers {
	background-image: url("../images/flowers.jpg");
}

.card__image--river {
	background-image: url("../images/river.jpg");
}

.card__image--record {
	background-image: url("../images/record.jpg");
}

.card__image--fence {
	background-image: url("../images/fence.jpg");
}

.card__title {
	color: @gray-dark;
	font-size: 1.25rem;
	font-weight: 300;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin-bottom: 0.25rem;
	text-align: center;
}

.card__text {
	flex: 1 1 auto;
	font-size: 0.875rem;
	line-height: 1.5;
	margin-bottom: 0.25rem;
	text-align: center;
}

.sidebar {
	width: 35%;
	height: 110vh; // experiment with this value, try changing to 110vh
	min-height : 200px;
	overflow: auto;
	position: -webkit-sticky;
	position: sticky;
	top: 5%;
}

.main {
	width: 100%;
	height: 200vh;
	min-height: 1000px;
	display: flex;
	flex-direction: column;
}

.main, .sidebar {
	border: 5px solid$color-dark;
	background-color: $color-background;
	border-radius: 10px;
	color: $color-dark;
	padding: 15px;
}

.wrapper {
	display: flex;
	justify-content: center;
}

body {
	padding: 3%;
	background-color: $color-body;
	font-size: 20px;
	box-sizing: border-box;
	font-family: Lato, sans-serif;
}

code, pre {
	background-color: #ccc;
	padding: 0 3px;
	border-radius: 5px;
}

.bottom {
	justify-self: bottom;
}

.style_item {
	display: flex;
	align-items: center;
}

.style_itemDescription {
	text-align: left;
	margin-left: 16px;
}

.style_sellerName {
	display: -webkit-box;
	font-weight: 500;
	font-size: 16px;
	line-height: 26px;
	letter-spacing: -.3px;
	color: #212121;
	word-break: break-all;
	text-overflow: ellipsis;
	overflow: hidden;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}

#amount {
  width: 5em;
}

.col > .align-self-start {
	max-width:100px;
}

.row {
	padding-bottom:10px;
}

.input-group {
	padding-bottom:10px;
}

#logo-container{
  margin: auto;
  margin-bottom: 10px;
  width:200px;
  height:30px;
  background-image:url('http://placehold.it/200x30/000000/ffffff/&text=BRAND+LOGO');
}

.style_input {
    align-items: center;
    justify-content: space-between;
    padding: 8px 10px;
    border: 1px solid #ebe6d4;
    box-sizing: border-box;
    border-radius: 3px;
    margin-bottom: 20px;
}

.style_item_order {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -.3px;
    color: #212121;
}
.order_value {
	text-align: right;
	border:none;
	
}
.style_introduce {
	padding-top: 16px;
    max-width: 632px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -.3px;
    color: #212121;
}

.style_links {
	padding-top: 16px;
	margin: 0;
	padding: 0;
	list-style: none;
	display: block;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 40px;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}

.style_link {
	display: flex;
	padding: 16px 0;
	cursor: pointer;
}

.style_address {
	display: flex;
	align-items: center;
	word-break: break-all;
	font-weight: 500;
	font-size: 16px;
	line-height: 22px;
	letter-spacing: -.3px;
	color: #212121;
	padding-left: 14px;
	cursor: pointer;
}

.style_title {
	padding-top: 16px;
	font-weight: 700;
	font-size: 32px;
	line-height: 45px;
	letter-spacing: -.3px;
	color: #212121;
}

.style_introduce {
	padding-top: 16px;
	max-width: 632px;
	font-size: 16px;
	line-height: 26px;
	letter-spacing: -.3px;
	color: #212121;
}

.style_wrapper {
	width: 146px;
    height: 146px;
    padding: 20px 0 18px;
    border: 1px solid #ebe6d4;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
}

.style_label {
	display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -.3px;
    color: #424242;
}
.style_float {
	margin: 0;
    padding: 0;
    list-style: none;
    float:left;
}

.find_wrapper {
	position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 308px;
    height: 220px;
    border-radius: 4px;
    border: 1px solid #ebe6d4;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
}

.find_title {
	padding-top: 56px;
    font-size: 32px;
    line-height: 45px;
    font-weight: 700;
    text-align: center;
    letter-spacing: -.3px;
    color: #212121;
}

.find_main {
	position: relative;
    margin-top: -16px;
    margin-left: -16px;
    text-align: center;
    display: flex;
    margin-top: 16px;
    margin-left: 16px;
}

.find_children {
	padding-top: 48px;
    padding-bottom: 120px;
}

.main_wrapper {
	display: flex;
    flex-direction: column;
    flex-wrap: inherit;
    align-content: center;
}